<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SevenPeaks.VTS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <style>
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }
    
            a:hover {
                background-color: #ddd;
                color: black;
            }
    
        .previous {
            background-color: #f1f1f1;
            color: black;
        }
    
        .next {
            background-color: #04AA6D;
            color: white;
        }
    
        .round {
            border-radius: 50%;
        }
    
        .bg-white.navbar {
            background-color: #D6EAF8 !important;
        }
    
        a.nav-link.text-dark {
            font-weight: 600;
            font-size: 17px;
        }
    
        button.nav-link.btn.btn-link.text-dark {
            border-bottom: 1px solid;
            padding: 0;
            border-radius: 0;
            margin-top: 4px;
            color: #E74C3C !important;
            font-weight: 600;
        }
        #clockIn, #clockOut {
            display: inline-block;
        }
    
        .att-card {
            background: #fff;
            box-shadow: 0 0 10px #ccc;
            border-radius: 5px;
            padding: 10px;
            margin: 25px 0;
            border: 0 !important;
        }
        .display-4 {
            font-size: 25px !important;
            font-weight: 600 !important;
            text-align: left !important;
            margin: 17px 0 30px !important;
        }
        td a{
            text-decoration: underline
        }
        td a:hover {
            font-weight: 600;
            background: none !important;
        }
    </style>
</head>
<body>
<header>

 
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SevenPeaks.VTS.Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="VehiclePositions" asp-action="Index">Home</a>
                    </li>
                    
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - SevenPeaks.VTS.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>